<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <section class="section tile is-ancestor">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    {{>header}}
                </div>
                <div class="tile is-child box">
                    <p class="title">An Inspiring Quote...</p>
                    <br>
                    “Winners never quit, and quitters never win.” ―Vince Lombardi
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box about-tile">
                    <h3>Working as a <b>Frontend Developer</b> | Bachelor's and Master's in <b>Nanotechnology
                            Engineering</b> | Apart from science, passionate for <em>music</em> | If you do
                        something, do it with perfection or don't do it at all.</h3><br>

                    <h2><b>Work Experience</b></h2>
                    <p>
                    <h3><b>Software Developer</b></h3>
                    Primus Software Corporation Full-time<br>
                    Sep 2019 – Present<br>
                    Noida, India</p><br>

                    <p>
                    <h3><b>Research Intern</b></h3>
                    Polytechnique Montréal<br>
                    Feb 2019 – Jun 2019<br>
                    Montreal, Canada Area<br>
                    Assessment of solubility parameters of Nanomaterials using Thermodynamic approach in
                    different organic solvents.</p><br>

                    <p>
                    <h3><b>Student Internship</b></h3>
                    Krupa Holding<br>
                    Jun 2016 – Oct 2018<br>
                    Krupa Holding is selling premium beer and food industry raw materials from Europe to
                    Brazil bringing innovation to extend the life of liquid yeast.</p><br>

                    <p>
                    <h3><b>Student Internship</b></h3>
                    National Physical Laboratory<br>
                    Feb 2018 – Jul 2018<br>
                    New Delhi Area, India<br>
                    Investigation of Magneto-Optical Properties of Ferrofluid on different pH and its
                    Application</p><br>

                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>