<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <section class="section tile is-ancestor">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    {{>header}}
                </div>
                <div class="tile is-child box">
                    <p class="title">An Inspiring Quote...</p>
                    <br>
                    “Winners never quit, and quitters never win.” ―Vince Lombardi
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box about-tile">

                    <h2 class="about-text">
                        A weather app with illustrations. The results may not be accurate, it's a work in progress.
                    </h2>
                    <p class="about-text"> WHO AM I ??
                    <p class="about-text"> I'm just a regular human learning to develop websites. I'm a masters in Nanotechnology so starting my developing with my Nano steps. Lol! 
                    </p>
                    <p class="about-text"> All images were taken from the internet. </p>



                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>