<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" </head>

<body>
    <section class="section tile is-ancestor">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    {{>header}}
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">

                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>