<header>
    <ul>
        <li class="level-item">
            <a href="/">Home</a>
        </li>
        <li class="level-item">
            <a href="/about">About</a>
        </li>
        <li class="level-item">
            <a href="/help">Help</a>
        </li>
        <li class="level-item">
            <a href="">Contact</a>
        </li>

    </ul>
</header>