<header>
    <ul>
        <li class="level-item">
            <a class="link" href="/">Home</a>
        </li>
        <li class="level-item">
            <a class="link" href="/about">About</a>
        </li>
        <li class="level-item">
            <a>
                <h1>{{title}}</h1>
            </a>
        </li>
        <li class="level-item">
            <a class="link" href="/help">Help</a>
        </li>
        <li class="level-item">
            <a class="link" href="">Contact</a>
        </li>

    </ul>
    {{!-- 

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a> --}}
</header>