html {
    overflow-y: hidden !important;
}

body {
    color: #333333;
    font-family: arial;
    max-width: 100wh;
    margin: auto !important;
    padding: 0 16px;
    text-align: -webkit-center;
}

.box {
    background-color: #f6f4d285 !important;
}

a {
    color: #f19c79 !important;
}

.section {
    height: 90vh;
}

.title {
    color: #f19c79 !important;
}

.footer {
    padding: 1rem 2rem !important;
}

header {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 16px;
}

#myImage {
    margin: 10px;
    height: auto;
    max-width: 16rem;
}

.button.is-primary {
    background-color: #f19c79 !important;
    margin: 10px;
    float: right;
}

p {
    font-size: 13px;
}

.about-tile {
    font-size: 14px;
}

.error-msg {
    color: #f19c79 !important;
    margin: 3rem;
    font-size: 60px;
    font-weight: 500px;
}
.about-text {
margin: 4rem 0;
padding: 12px;
}