body {
    color: #333333;
    font-family: arial;
    max-width: 850px;
    margin: auto !important;
    padding: 0 16px;
}

.box {
    background-color: #f6f4d285 !important;
}

a {
    color: #f19c79 !important;
}

.section {
    height: 90vh;
}

.title {
    color: #f19c79 !important;
}

.footer {
    padding: 1rem 2rem !important;
}

header {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 16px;
}

#myImage {
    margin: auto;
    height: auto;
    max-width: 20rem;
}

.button.is-primary {
    background-color: #f19c79 !important;
    margin: 10px;
    float: right;
}

p {
    font-size: 13px;
}

.about-tile {
    overflow-y: scroll;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
